```plaintext
# فایل‌های محیط مجازی
venv/
.env

# فایل‌های تولید شده توسط پایتون
__pycache__/
*.py[cod]
*$py.class

# دیتابیس SQLite (برای توسعه)
db.sqlite3

# فایل‌های رسانه‌ای (آپلود شده توسط کاربران)
media/

# فایل‌های استاتیک جمع‌آوری شده
staticfiles/

# فایل‌های لاگ و موقتی
*.log
*.pot
*.pyc
*.sqlite3

# فایل‌های ویرایشگر و سیستم‌عامل
.DS_Store
Thumbs.db
*.swp
*.swo
